Flask==3.0.0
Flask-SQLAlchemy==3.1.1
Flask-JWT-Extended==4.5.3
PyMySQL==1.1.0
cryptography==41.0.3
python-dotenv==1.0.0
APScheduler==3.10.4
werkzeug==3.0.1
fastapi
uvicorn
SQLAlchemy
pandas
openpyxl
python-multipart
python-jose
passlib
bcrypt

