fastapi==0.110.0
uvicorn==0.28.0
python-multipart==0.0.9
PyMySQL==1.1.0
cryptography==41.0.3
python-dotenv==1.0.0
APScheduler==3.10.4
bcrypt==4.0.1
python-jose==3.3.0
pandas==2.0.3
openpyxl==3.1.2
google-generativeai==0.3.1
SQLAlchemy==2.0.23
pydantic==2.5.2
numpy==1.26.4
